 <header>
  <!-- Fixed navbar -->
  <nav id="navbarmy" class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #485564;" > <!-- fixed-top -->
    <div class="container">
      <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Alessandro Cudazzo">
          <svg style="border-right-width: 4px; margin-right: 4px !important;" version="1.1" id="Livello_1" focusable="false" class="d-inline-block align-top"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-287 379 36 36"
              xml:space="preserve"  width="32" height="32">
          <style type="text/css">
            .st0{display:none;}
          </style>
          <title>Alessandro Cudazzo</title>
          <path fill="currentColor" d="M-257,379.5c3,0,5.5,2.5,5.5,5.5v24c0,3-2.5,5.5-5.5,5.5h-24c-3,0-5.5-2.5-5.5-5.5v-24c0-3,2.5-5.5,5.5-5.5H-257 M-257,379
            h-24c-3.3,0-6,2.7-6,6v24c0,3.3,2.7,6,6,6h24c3.3,0,6-2.7,6-6v-24C-251,381.7-253.7,379-257,379z"/>
          <path fill="currentColor" d="M-271.7,399.3h5.2l-2.6-7.6h-0.1L-271.7,399.3z M-272,389.8c0.5-1.2,1.5-2.2,2.9-2.2c1.5,0,2.5,0.9,2.9,2.2l5.4,14.2
            c0.2,0.4,0.2,0.8,0.2,1c0,1-0.9,1.7-1.9,1.7c-1.2,0-1.7-0.6-2-1.4l-0.8-2.5h-7.6l-0.8,2.4c-0.3,0.8-0.9,1.4-2,1.4
            c-1.1,0-2-0.8-2-1.8c0-0.4,0.1-0.7,0.2-0.9L-272,389.8L-272,389.8z"/>
          </svg>

          Alessandro Cudazzo
       </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarsExample07">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="li_home">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="li_blog">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>
            <li class="nav-item" id="li_project">
              <a class="nav-link" href="/project/">Project</a>
            </li>
            <li class="nav-item" id="li_resume">
              <a class="nav-link" href="/resume/">Resume</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>